* { 
    margin : 0;
    padding : 0;
    box-sizing : border_box;
    font-family : sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(#04010a, #27084f);
    color: white;             
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 30px;
}
    button, .button-link {
    background: #00d4ff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.welcome-box {
    text-align: center;

}
